.header {
  display: flex;
  padding: rem(10px) 0;
  align-items: center;
}

.header__logo {
  height: rem(100px);
  padding: 0 rem(10px);
}

.header__img {
  height:100%;
}

.nav {
  flex: 1;
  padding: 0 rem(30px);
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  padding: 0 10px;
  border-right: 1px solid #d1d1d1;
  &:last-child {
    border-right: 1px solid transparent;
  }
  &:hover {
    text-decoration: underline;
  }
}

.nav__link {
  font-family: 'CenturyGothic';
  font-weight: 400;
  @include font-size(18px);
  color: $darkBlue;
}

.header-tel__link {
  font-family: 'CenturyGothic';
  font-weight: 700;
  @include font-size(20px);
  color: $darkBlue;
}

.hero {
  background-image: url("../images/bg/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: rem(30px) 0;
}

.hero-block {
  padding:rem(35px) 0;
  width: 48%;
}

.hero-block__name {
  font-family: 'CenturyGothic';
  font-weight: 700;
  @include font-size(32px);
  color: #ffffff;
  margin-bottom: rem(5px);
}

.hero-block__offer {
  font-family: 'CenturyGothic';
  font-weight: 500;
  @include font-size(20px);
  color: #ffffff;
  margin-bottom: rem(15px);
}

.advantage {
  flex-direction: column;
}

.advant-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.advant-block__item {
  padding:rem(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.advant-block__img {
  background-color: #f2f4f7;
  border-radius: 50%;
  width: rem(130px);
  height: rem(130px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(10px);
}

.advant-block__svg {
  max-height: rem(55px);
}

.advant-block__text {
  text-align: center;
  padding: rem(10px);
  p {
    font-family: 'CenturyGothic';
    font-weight: 600;
    @include font-size(16px);
    color: $darkBlue;
  }
}

.course-block {
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(25px);
  margin: rem(15px) 0;
}

.course-block--one {
  background-image: url("../images/bg/fon1.png");
}

.course-block--two {
  background-image: url("../images/bg/fon2.png");
}

.course-block--three {
  background-image: url("../images/bg/fon3.png");
}

.course-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.course-item {
  margin: 0 rem(15px);
  background-color: #ffffff;
  border-radius: rem(5px);
  max-width: rem(240px);
  border:1px solid $blue;
  box-sizing: border-box;
  width: 25%;
  max-width: rem(205px);
}

.course-item__img {
  width:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.course-item__bottom {
  padding: rem(5px) rem(15px) rem(15px);
}

.course-item__name {
  font-family: 'CenturyGothic';
  font-weight: 600;
  @include font-size(17px);
  color: $darkBlue;
  border-bottom: 1px solid $blue;
  padding-bottom: rem(5px);
}

.course-item__btn {
  font-family: 'CenturyGothic';
  font-weight: 300;
  @include font-size(16px);
  color: $blue;
  line-height: 1.6;
  margin-bottom: rem(10px);
  transition: all .3s;
  &:hover {
    transition: all .3s;
    color: $darkBlue;

  }
}

.course-item__price {
  font-family: 'CenturyGothic';
  font-weight: 600;
  @include font-size(18px);
  color: $darkBlue;
  margin-bottom: rem(10px);
}

.services-content {
  display: flex;
  padding: rem(20px) 0 rem(35px);
}

.service-block {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: rem(10px);
}

.service-block--left {
  background-image: url("../images/bg/bim.png");
  margin-right: rem(10px);
}

.service-block--right {
  background-image: url("../images/bg/viz.png");
  margin-left: rem(10px);
}

.service-block__overlay {
  width: 100%;
  height:100%;
  background-color:rgba(255,255,255,.8);
  border-radius: 5px;
  padding:rem(20px) rem(35px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.service-block__info {
  height: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.service-block__title {
  font-family: 'CenturyGothic';
  font-weight: 600;
  @include font-size(18px);
  text-transform: uppercase;
  color: $darkBlue;
  margin-bottom: rem(10px);
  border-bottom: 1px solid $darkBlue;
  padding-bottom: rem(5px);
}

.service-block__list {
  margin-bottom: rem(10px);
}

.service-block__item {
  font-family: 'CenturyGothic';
  font-weight: 400;
  @include font-size(18px);
  color: $darkBlue;
  position: relative;
  padding-left: 15px;
  &::before {
    content: '';
    position: absolute;
    top:calc(50% - 4px);
    left:0;
    height: rem(8px);
    width: rem(8px);
    background-color: $darkBlue;
    border-radius: 50%;
  }
}

.service-block__price {
  font-family: 'CenturyGothic';
  font-weight: 400;
  @include font-size(18px);
  color: $darkBlue;
  padding-bottom: rem(5px);
  border-bottom: 1px solid $darkBlue;
  margin-bottom: rem(10px);
}

.advice {
  background-color: #007a97;
  padding: rem(30px) 0;
}

.advice-block {
  .main-subtitle {
    padding: 0 33%;
  }
}

.advice-block__btn {
  margin: 0 auto;
}

.contact {
  background-color: #f1f4f7;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: rem(10px) rem(10px) rem(30px);
}

.form__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 rem(15px);
  width: 45%;
}

.form__right {
  margin: 0 rem(15px);
  width: 45%;
}

.form__block {
  width: 100%;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}

.form__input {
  font-family: 'CenturyGothic';
  @include font-size(16px);
  font-weight: 400;
  width: 100%;
  padding: rem(15px);
  background-color: #ffffff;
  color: #ababac;
  border: 1px solid #ababac;
  outline: none;
  border-radius: rem(5px);
  &:focus {
    border: 1px solid $blue;
  }
}

.form__chekbox {
  outline: none;
  height: rem(14px);
  width: rem(14px);
}

.form__label {
  font-family: 'CenturyGothic';
  @include font-size(12px);
  font-weight: 400;
  padding-left: rem(5px);
}

.footer {
  background-color: #007a97;
}

.footer__block {
  display: flex;
  padding: rem(30px) 0;
}

.footer__left {
  width: 50%;
}

.footer__right {
  width: 50%;
  text-align: right;
}

.footer__row {
  margin-bottom: rem(10px);
  &:last-child {
    margin-bottom: 0;
  }
}

.partner__title {
  font-family: 'CenturyGothic';
  @include font-size(16px);
  font-weight: 400;
  color: #ffffff;
  margin-bottom: rem(5px);
}

.partner__link {
  font-family: 'CenturyGothic';
  @include font-size(16px);
  font-weight: 400;
  color: #ffffff;
  transition: all .3s;
  &:hover {
    color: $blue;
    transition: all .3s;
  }
}

.social__list {
  display: flex;
}

.social__item {
  padding: rem(5px);
}

.social__link {
  max-width: rem(42px);
  max-height: rem(42px);
}

.social__link_svg {
  max-width: rem(42px);
  max-height: rem(42px);
  fill: #ffffff;
  transition: all .3s;
  &:hover {
    fill: $blue;
    transition: all .3s;
  }
}

.contact__list {
  margin-bottom: rem(10px);
}

.contact__link {
  font-family: 'CenturyGothic';
  @include font-size(16px);
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5;
  transition: all .3s;
  &:hover {
    color: $blue;
    transition: all .3s;
  }
}

.contact__btn {
  float: right;
}