.hamburger
    a.hamburger__link
        span.hamburger__link_item
.hamburger-menu
    nav.hamburger-menu__nav
        ul.hamburger-menu__list
            li.hamburger-menu__item
                a.hamburger-menu__link(href='#course') Курсы
            li.hamburger-menu__item
                a.hamburger-menu__link(href='#services') Услуги
            li.hamburger-menu__item
                a.hamburger-menu__link(href='#portfolio') Портфолио
            li.hamburger-menu__item
                a.hamburger-menu__link(href='#comment') Отзывы
            li.hamburger-menu__item
                a.hamburger-menu__link(href='#contact') Контакты