script(type="template" id="modalProgrammTemplate")
    .modal
        .modal__programm
            .modal__header
                h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
            .modal__body
                ol.modal-prog__list
                    li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                        span.modal-prog__num 1
                    li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                        span.modal-prog__num 2
                    li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                        span.modal-prog__num 3
                    li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                        span.modal-prog__num 4
                    li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                        span.modal-prog__num 5
                    li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                        span.modal-prog__num 6
                    li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                        span.modal-prog__num 7-8
                    li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                        span.modal-prog__num 9
                    li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                        span.modal-prog__num 10
            .modal__footer
                .modal__price
                    span.modal__num 16 000 руб
            button.modal__close

